
 nav > ul > li{ display: inline;
       margin: 5px;
       display: inline;
       




}
footer{

       /* text-align: center; */
}
.b{ border: tomato solid;
width: 130px;}
section{ background-color: chartreuse;
width: 500px;}

       
       }